html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    resize: none;
overflow: hidden;

}

text{
font-family: "Montserrat", sans-serif;
  letter-spacing: -0.05em;
}
.monser{
  font-family: "Montserrat", sans-serif;
  letter-spacing: -0.05em;
}
#app{
  background: url("/public/images/bg1.webp");
  width: 100%;
  height: 100% ;
  resize: none;
}